/*
* @Author: zmx-xiao-xiao
* @Date:   2017-10-24 00:38:05
* @Last Modified by:   zmx-xiao-xiao
* @Last Modified time: 2017-10-24 00:38:33
*/
$bg-color: #aaa;

li{
    list-style: none;
}
.navbar-default{
    margin-bottom: 0;
}
.btn-logout{
    cursor: pointer;
}
.page-header{
    margin: 20px 0 20px;
    font-size: 28px;
    color: #666;
}
.page-header-right{
    float: right;
    margin-top: -63px;
}
