/*
* @Author: zmx-xiao-xiao
* @Date:   2017-10-24 00:47:46
* @Last Modified by:   zmx-xiao-xiao
* @Last Modified time: 2017-10-24 00:48:01
*/
.opear{
    margin: 0 5px;
}

.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }   
}